*{
    margin: 0;
    padding: 0;
}

.container{
    width: 100%;
    height: 100%;
}

.modal{
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    background: rgba(0, 0, 0, 0.7);
    display: none;
    animation: aparecer .3s linear;
}

.modal .fondoModal{
    position: fixed;
    width: 97%;
    height: 100%;
    top: 0;
    z-index: 100;
}

.modal .modal-content{
    z-index: 1000;
    position: absolute; 
    width: 60%;
    left: 0;
    right: 0;
    margin: auto;
    top: 20px;

    max-width: 660px;
}

.modal .modal-content .modal-header{
    background-color: white;
    padding: 20px;
    display: flex;

    justify-content: space-between;
    border-radius: 10px 10px 0px 0px;
}

.modal .modal-content .modal-header .title-modal{
    font-size: 30px;
    padding-top: 10px;

}

.modal .modal-content .modal-header .btn-close-modal{
    background: none;
    border: none;
    outline: none;
    padding: 15px;
    font-size: 20px;
}

.modal .modal-content .modal-header .btn-close-modal::after{
    content: "X";
}

.modal .modal-content .modal-header .btn-close-modal:hover{
    cursor: pointer;
}

.modal .modal-content .modal-body{
    border-radius: 0px 0px 10px 10px;
    background-color: white;
    padding: 20px;
    border-top: 1px solid #ccc;

    margin-bottom: 25px;
}

@keyframes aparecer{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}


@media screen and (max-width: 580px){
    .modal .modal-content{
        width: 80%;
    }

    .modal .modal-content .modal-header .title-modal{
        font-size: 25px;
        padding-top: 10px;
    }

    .modal .modal-content .modal-header .btn-close-modal{
        padding: 10px;
        font-size: 18px;
    }
} /* EN DISPOSITIVOS MENORES A 580PX, EL CONTENEDOR DEL
 MODAL ABARGARÁ MAS ESPACIO Y EL ENCABEZADO DISMINUIRA DE 
 TAMAÑO UN POCO */


.btn{
    padding: 10px 20px; 
    border: none;
    border-radius: 5px;
    background: rgb(29, 7, 226);
    color: white;
}

.btn:hover{
    background: rgb(34, 9, 252);
    cursor: pointer;
}


